@use '../utilities/' as *;

.commentContainer {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	cursor: initial;

	.comment {
		background-color: #fff;
		position: relative;
		width: 100%;
		max-width: 600px;
		padding: 1rem;

		&__header {
			&__close {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				font-size: 1.2rem;
				cursor: pointer;
			}
		}

		&__reply {
			position: absolute;
			top: 1rem;
			right: 1rem;
			border: none;
			border-radius: 100vmax;
			padding: 0.4rem 1.2rem;
			font-weight: 500;
			color: #fff;
			background-color: $clr-primary;
			font-size: 0.9rem;
			cursor: pointer;

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}

			@media (min-width: 700px) {
				bottom: 1rem;
				top: auto;
			}
		}
		.postInfo {
			margin-top: 2rem;
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-template-areas: 'userImage userInfo';
			gap: 1rem;

			&__userImage {
				grid-area: userImage;
				border-radius: 50%;

				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
				&__line {
					height: calc(100% - 50px);
					display: flex;
					justify-content: center;
					padding: 0.2rem;
					span {
						background-color: #cfd9de;
						width: 2px;
					}
				}
			}

			&__content {
				grid-area: userInfo;

				&__userInfo {
					display: flex;
					gap: 0.2rem;
					display: flex;
					align-items: center;
					margin-bottom: 0.2rem;

					&__name {
						font-weight: bold;
					}
					&__username {
						color: #74787a;
					}

					&__dot {
						width: 3px;
						height: 3px;
						background-color: #74787a;
						border-radius: 50%;
						display: flex;
					}
				}

				&__tweet {
					font-size: 1.2rem;
				}

				&__replying {
					padding: 1rem 0;
					color: #74787a;

					span {
						color: $clr-primary;
						cursor: pointer;
					}
				}
			}
		}
	}

	.replyTweet {
		display: grid;
		grid-template-columns: 50px 1fr;
		grid-template-areas: 'userImage userInfo';
		gap: 1rem;

		&__userImage {
			grid-area: userImage;
			border-radius: 50%;

			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}

		&__content {
			grid-area: userInfo;
			padding-top: 10px;

			&__textarea {
				height: 5rem;
				width: 100%;
				overflow: auto;
				resize: none;
				border: none;
				font-size: 1.2rem;
				color: #47525c;
				outline: none;
				margin-bottom: 2rem;

				&::placeholder {
					color: inherit;
				}
			}
		}
	}

	@media (min-width: 700px) {
		background-color: rgba($color: #000000, $alpha: 0.3);
		padding-top: 2rem;

		.comment {
			border-radius: 1rem;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}
	}
}
