@use '../utilities/' as *;
.sidebarMenu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;

	border-top: 1px solid rgb(240, 240, 240);

	.hide,
	.hide-tablet {
		display: none;
	}

	&__item {
		&__text {
			display: flex;
			align-items: center;
			cursor: pointer;

			@include mq('desktop') {
				padding: 0.6rem 1.4rem 0.6rem 1rem;
				border-radius: 30px;
				gap: 1rem;
				&:hover {
					background-color: #e2e2e2;
				}
			}

			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.8rem;
				border-radius: 50%;

				&:hover {
					background-color: #e2e2e2;
				}

				@include mq('desktop') {
					padding: 0.3rem;
					padding-left: 0;
				}
			}

			.text {
				font-size: 1.1rem;
				display: none;

				@include mq('desktop') {
					display: flex;
				}
			}
		}
	}
	@include mq('phone-wide') {
		flex-direction: column;
		border: none;
	}

	@media (min-height: 500px) and (min-width: 500px) {
		.hide {
			display: block;
		}
	}
	@media (min-height: 700px) and (min-width: 500px) {
		.hide-tablet {
			display: block;
		}
	}

	@include mq('desktop') {
		align-items: flex-start;

		.sidebarMenu__search {
			display: none;
		}
	}
}
