@use '../utilities' as *;

.sidebar {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 1rem;

	&__logo {
		display: none;
	}

	&__button {
		position: fixed;
		bottom: 5rem;
		right: 1rem;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		padding: 1rem;
		border: none;
		cursor: pointer;
		background-color: $clr-primary;
		border-radius: 50%;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		max-width: 220px;

		&__text {
			display: none;
		}

		@include mq('desktop') {
			width: 100%;
			height: 50px;
			border-radius: 30px;

			&__icon {
				display: none;
			}

			&__text {
				display: block;
				font-weight: 500;
				font-size: 1rem;
			}
		}
	}

	@include mq('phone-wide') {
		position: sticky;
		top: 0;
		height: 100vh;
		padding-bottom: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px solid rgb(240, 240, 240);

		&__logo {
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			font-size: 2rem;
			padding: 1rem;
			cursor: pointer;
			border-radius: 50%;
			color: $clr-primary;
			transition: 0.2s ease-in-out;
			margin-top: 2px;

			&:hover {
				background-color: rgb(232, 252, 252);
			}
		}

		&__button {
			position: static;
			font-size: 1.2rem;
			margin-top: 1rem;
		}
	}

	@include mq('desktop') {
		align-items: flex-start;
	}
}
