@use '../utilities/' as *;
.sidebarMenu {
	margin: 0;
	padding: 1rem 0;
	list-style: none;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-around;

	border-top: 1px solid rgb(240, 240, 240);

	.hide,
	.hide-tablet {
		display: none;
	}

	&__item {
		&__text {
			display: flex;
			align-items: center;
			cursor: pointer;

			span {
				display: inline-flex;
				border-radius: 50px;
				display: none;

				&:hover {
					background-color: #e2e2e2;
				}
			}
		}
	}
	@include mq('phone-wide') {
		flex-direction: column;
		gap: 1.4rem;
		border: none;

		.hide {
			display: block;
		}
		&__item {
			&__text {
				span {
					font-size: 1.4rem;
					font-weight: 300;
				}
			}
		}
	}
}
