@use '../utilities/' as *;

.signoutModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 280px;
	background-color: white;
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: rgb(153, 153, 153) 1px 0 0 0,
		rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	z-index: 999;

	&__logo {
		font-size: 2.2rem;
		color: $clr-primary;
		text-align: center;
	}

	&__title {
		font-size: 1.2rem;
		margin-bottom: 0.4rem;
	}

	&__text {
		font-size: 0.8rem;
		margin-bottom: 1.4rem;
		fweight: 300;
		color: rgb(70, 68, 68);
	}

	&__signOut {
		@extend %signinButton;
		margin-bottom: 0.8rem;
		background-color: black;
		color: white;
		border: none;
		padding: 0.6rem;

		&:hover {
			background-color: rgb(46, 46, 46);
		}
	}

	&__cancel {
		@extend %signinButton;
		padding: 0.6rem;
		border: 1px solid rgb(212, 212, 212);

		&:hover {
			background-color: rgb(224, 224, 224);
		}
	}
}
