.Tweet {
	padding: 1rem;

	&__content {
		border-bottom: 1px solid #f1f1f1;

		&__user {
			display: flex;
			gap: 0.8rem;
			align-items: center;

			&__image {
				width: 40px;
				height: 40px;
				border-radius: 50%;

				img {
					border-radius: 50%;
				}
			}

			&__name {
				font-weight: 700;
				font-size: 0.9rem;

				&__username {
					font-weight: 300;
				}
			}

			&__options {
				margin-left: auto;
			}
		}

		&__text {
			margin-top: 1rem;
			p {
				font-size: 1.4rem;
				margin-bottom: 0.5rem;
			}

			img {
				border-radius: 1rem;
				margin-bottom: 0.5rem;
			}
		}

		&__timestamp {
			padding: 0.8rem 0;
			display: flex;
			font-size: 0.9rem;
			align-items: center;
			color: rgb(83, 100, 113);
		}
	}
}
