@use '../utilities/' as *;

.user {
	display: none;

	&__info {
		display: none;
	}

	@include mq('phone-wide') {
		margin-top: auto;
		display: flex;
		align-items: center;
		gap: 1rem;
		cursor: pointer;

		&__avatar {
			overflow: hidden;
			padding: 0.4rem;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			border-radius: 50%;
			font-size: 1.3rem;
			color: #657786;
			background: #ccd6dd;
		}

		&:hover {
			background-color: rgb(219, 219, 219);
		}

		&__info {
			display: none;

			&__name {
				font-weight: bold;
			}

			&__username {
				font-size: 0.8rem;
				font-weight: normal;
				color: rgb(167, 167, 167);
			}
		}

		&__button {
			display: none;
			margin-left: auto;
		}
	}
}
