@use '../utilities/' as *;

.user {
	display: none;

	@include mq('tablet') {
		width: 240px;
		margin-top: auto;
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0.8rem;
		border-radius: 40px;
		cursor: pointer;

		&:hover {
			background-color: rgb(219, 219, 219);
		}

		&__info {
			display: flex;
			flex-direction: column;

			&__name {
				font-weight: bold;
			}

			&__username {
				font-size: 0.8rem;
				font-weight: normal;
				color: rgb(167, 167, 167);
			}
		}

		&__button {
			margin-left: auto;
		}
	}
}
