@use '../utilities/' as *;

.follow {
	display: none;

	@include mq('tablet-wide') {
		display: flex;
		flex-direction: column;
		background-color: #f7f9f9;
		border-radius: 1rem;
		overflow: hidden;

		&__title {
			font-size: 1.2rem;
			font-weight: bold;
			margin-bottom: 0.8rem;
			padding: 0.6rem;
		}

		&__list {
			display: flex;
			flex-direction: column;

			&__item {
				display: flex;
				gap: 0.8rem;
				align-items: center;
				text-decoration: none;
				color: black;
				padding: 0.8rem 0.6rem;

				&:hover {
					background-color: #ebebeb;
				}

				&__image {
					width: 40px;
					border-radius: 50%;
					overflow: hidden;
				}

				&__info {
					font-size: 0.9rem;

					p {
						font-weight: 500;

						&:hover {
							text-decoration: underline;
						}
					}

					span {
						font-weight: 300;
					}
				}

				&__button {
					border: none;
					background-color: black;
					border-radius: 20px;
					color: aliceblue;
					padding: 0.2rem 0.8rem;
					font-size: 0.9rem;
					font-weight: 500;
					cursor: pointer;
					margin-left: auto;

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}

	&__showMore {
		padding: 0.8rem 0.6rem;
		border: none;
		background-color: transparent;
		color: $clr-primary;
		font-size: 0.8rem;
		cursor: pointer;
		display: flex;
		&:hover {
			background-color: #ebebeb;
		}
	}
}
