$breakpoints: (
	'phone': 400px,
	'phone-wide': 500px,
	'tablet-small': 640px,
	'tablet': 768px,
	'tablet-wide': 1024px,
	'desktop': 1248px,
	'desktop-wide': 1440px,
);

// Media Queries mixin
@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

// Form input placeholder mixin
@mixin input-placeholder {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

//list reset mixin
@mixin list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

// border radius mixin
@mixin border-radius($radius) {
	border-radius: $radius;
}
