@use '../utilities/' as *;

main {
	margin: 0 auto;
	max-width: 700px;
	min-height: 100vh;

	@include mq('phone-wide') {
		display: grid;
		grid-template-columns: 4rem 1fr;
	}

	@include mq('tablet-wide') {
		max-width: 1000px;
		grid-template-columns: 4rem 4fr 1fr;
	}

	.widgets {
		@include mq('tablet-wide') {
			padding: 5px 1rem;
		}
	}
}
