@use '../utilities/' as *;

.signin {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'actions'
		'wallpaper'
		'footer';

	&__actions {
		justify-self: center;
		padding: 2rem;
		grid-area: actions;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0.8rem;
		align-items: center;

		&__logo {
			color: $clr-primary;
			font-size: 3rem;
			margin-bottom: 2rem;
		}

		&__title {
			font-size: clamp(2.8rem, 2rem + 5vw, 4rem);
			margin-bottom: 2rem;
			font-weight: 700;
		}

		&__paragraph {
			font-size: clamp(1.6rem, 1.4rem + 2vw, 2.2rem);
			word-spacing: 8px;
			font-weight: 700;
		}

		&__google {
			@extend %signinButton;
		}

		&__apple {
			@extend %signinButton;
		}

		&__divider {
			display: grid;
			grid-template-columns: 1fr 1rem 1fr;
			gap: 0.4rem;
			align-items: center;
			place-content: center;
			max-width: 300px;

			span {
				background-color: aqua;
				background-color: #e9e9e9;

				height: 1px;
			}

			p {
				font-size: 0.9rem;
			}
		}

		&__signup {
			@extend %signinButton;
			background-color: $clr-primary;
			color: #fff;
			border-color: $clr-primary;

			&:hover {
				background-color: rgb(1, 139, 231);
			}
		}

		&__terms {
			font-size: 0.7rem;
			max-width: 300px;

			a {
				text-decoration: none;
				color: $clr-primary;
			}
		}

		&__haveAnAcc {
			margin-top: 3rem;
			font-weight: 700;
		}

		&__signinButton {
			@extend %signinButton;
			color: $clr-primary;
			margin-bottom: 1rem;

			&:hover {
				background-color: #f1f9fc;
			}
		}
	}

	&__wallpaper {
		padding: 2rem;
		grid-area: wallpaper;
		background-image: url(../../../public/login-background.png);
		background-size: cover;
		height: 400px;

		font-size: clamp(100px, 70vw, 350px);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__footer {
		grid-area: footer;
		padding: 0.6rem 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.4rem 0.6rem;
		justify-content: center;
		align-items: center;

		&__link,
		&__copyright {
			text-decoration: none;
			color: rgb(75, 75, 75);
			font-size: 0.7rem;
		}

		&__link:hover {
			text-decoration: underline;
		}
	}

	@include mq('tablet-wide') {
		grid-template-columns: 3fr minmax(600px, 2fr);
		grid-template-rows: 1fr 60px;
		grid-template-areas:
			'wallpaper actions'
			'footer footer';

		&__actions {
			justify-self: start;

			&__logo {
				margin-top: 4rem;
				margin-bottom: 1rem;
			}
		}

		&__wallpaper {
			height: 100%;
		}
	}
}
